<div>
  <p [ngStyle]="{color: getColor()}">Zadań do wykonania: {{tasksList.length}}</p>
  <ng-container *ngIf="tasksList.length > 0; else noTasks">
    <ul>
      <li *ngFor="let task of tasksList; let i = index" 
      [ngClass]="{'odd-li' : i%2==0, 'last-li' : tasksList.length===1}">
        {{task}}
        <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
        <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #noTasks>
    Brak zdań, masz czas wolny
  </ng-template>
  
